<content-type name="/plugins/youtube-video/youtube-video" is-wcm-type="true">
	<label>Component: Youtube Video</label>
	<form>/plugins/youtube-video/youtube-video</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>false</content-as-folder>
	<previewable>false,false</previewable>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
	<paths>
		<includes>
			<pattern>^/site/components/page/.*</pattern>
		</includes>
	</paths>
</content-type>
